* {
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none;
}
.box1 {
  border: 1px solid rgb(209, 206, 206);
  width: 370px;
  height: 330px;
  margin: auto;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box2 {
  border: 1px solid rgb(209, 206, 206);
  width: 370px;
  height: 520px;
  margin: auto;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.h2Heading {
  text-align: center;
  margin-top: 25px;
}

label {
  margin-left: 30px;
  font-size: 12px;
  font-weight: 450;
  width: 300px;
}

input {
  border-color: 1px solid rgb(209, 206, 206);
  margin-left: 30px;
  height: 40px;
  width: 235px;
  margin-bottom: 5px;
}

.passTC {
  font-size: 12px;
  margin-left: 180px;
}

.loginForm {
  margin-top: 20px;
}
.Loginbutton {
  margin-left: 110px;
  margin-top: 10px;
  background-color: rgb(57, 136, 255);
  border: none;
  height: 40px;
  width: 120px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
}

.inputbox {
  width: 300px;
}

.logout {
  margin-right: 30px;
}
::placeholder {
  font-size: 13px;
}
.HomH1{
  text-align: center;
  /* margin-top: 100px; */
  color: rgb(170, 244, 20);
  font-weight: 600;
}
.wlcmspan{
  color: yellowgreen;
  font-size: 30px;
}
.nameSpan{
  color: purple;
  font-size: 40px;
  font-weight: 700;
}
img{
  width: 700px;
  height: 380px;
  margin-top: -20px;
  
}
.imageDiv{
  /* border: 2px solid red; */
  width: 50%;
  margin: auto;
  text-align: center;
}
.logout{
  margin-right: 30px;
}
.headernameSpan{
  color: purple;
  font-size: 17px;
  font-weight: 500;
}